 <!--The content below is only a placeholder and can be replaced.-->
 <div style="text-align:center" class="content">
    <h1>list de pokémons</h1>
    <input (click)="selectPokemen($event)">
    <p>{{pokemonList[0].name}}</p>
    <p>{{pokemonList[1].name}}</p>
    <p>{{pokemonList[2].name}}</p>
    <p>{{pokemonList[3].name}}</p>
    <p>{{pokemonList[4].name}}</p>
    <p>{{pokemonList[5].name}}</p>
    <p>{{pokemonList[6].name}}</p>
    <p>{{pokemonList[7].name}}</p>
    <p>{{pokemonList[8].name}}</p>
    <p>{{pokemonList[9].name}}</p>
    <p>{{pokemonList[10].name}}</p>
    <p>{{pokemonList[11].name}}</p>
